// Theme Color
// https://m2.material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=2962FF&secondary.color=FFD600
$primaryColor: #2962ff;
$primaryLightColor: #768fff;
$primaryDarkColor: #0039cb;
$secondaryColor: #ffd600;
$secondaryLightColor: #ffff52;
$secondaryDarkColor: #c7a500;
$primaryTextColor: #ffffff;
$secondaryTextColor: #000000;